@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&display=swap');

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
}
