<script setup>
import ProgressBar from "./../ui/ProgressBar.vue";
import GameLog from "./../ui/GameLog.vue";
</script>

<template>
<div class="grid-item">
	<div class="item-title"><i class="ri-flask-fill"></i><span class="item-name">Исследовательская деятельность</span></div>
	<div class="item-content">

		<div class="currentActionContainer">
			<div class="title">
				<i class="ri-function-line icon"></i>
				Сортировка булавок:
			</div>
			<div class="description">
				Кто-то разбросал целую пачку булавок по всему столу
				и <span style="color: #ffd369;">Ньюфагу Исследователичу</span> ничего не осталось кроме как рассортировать
				их по цвету вместо того что бы заниматься работой
			</div>
			<div class="progress">
				<ProgressBar width="100%" :right="false" value="10" />
			</div>
		</div>

		<GameLog />

	</div>
</div>
</template>

<style scoped>
.icon {
    margin-right: 5px;
}
.currentActionContainer {
	border: 1px solid #222831;
	padding: 5px 10px;
	margin-bottom: 10px;
}
.currentActionContainer .title {
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.currentActionContainer .description {
	background-color: #222831;
	padding: 10px;
	margin: 5px 0px;
}
</style>
