<script setup>
import ProgressBar from "./../ui/ProgressBar.vue";
import Researcher from "./Researcher.vue";
import Action from "./Action.vue";
import Control from "./Control.vue";
</script>

<template>
	<!-- https://learncssgrid.com/ -->
	<div class="content">
		<div class="researcher-info-grid">
			<Researcher />
			<Action />
			<Control />
		</div>
	</div>
</template>

<style>
.content {
	border-radius: 4px;
	margin: 10px 0px;
}
.researcher-info-grid {
	display: grid;
	grid-template-columns: 3fr 6fr 3fr;
	grid-gap: 10px;
}
.grid-item {
	padding: 8px 10px;
	background: #393E46;
	border-radius: 4px;
}
.grid-item .item-title {
	text-transform: uppercase;
	padding-bottom: 5px;
	border-bottom: 1px solid #222831;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.grid-item .item-title .title-pn {
	text-transform: uppercase;
	color: #222831;
	width: 100%;
	text-align: right;
}
.grid-item .item-title .item-name {
	text-transform: uppercase;
	margin-left: 5px;
}
.grid-item .item-content {
	font-size: 14px;
}

@media (max-width:1100px) {
	.content {
		margin: 10px;
	}
	.researcher-info-grid {
		grid-template-columns: 1fr;
	}
}
</style>
