<script setup>
import ProgressBar from "./../ui/ProgressBar.vue";
</script>

<template>
<div class="grid-item">
	<div class="item-title"><i class="ri-terminal-box-fill"></i><span class="item-name">Пульт управления</span></div>
	<div class="item-content">
	</div>
</div>
</template>
