<script setup>
import ProgressBar from "./../ui/ProgressBar.vue";
</script>

<template>
<div class="grid-item">
	<div class="item-title"><i class="ri-user-fill"></i><span class="item-name">Исследователь</span><span class="title-pn">ПН №12345678</span>
	</div>
	
	<div class="item-content">
		<div class="content-line">
			<div class="key">Имя:</div>
			<div class="value">Ньюфаг Исследователич</div>
		</div>
		<div class="content-line">
			<div class="key">Отдел:</div>
			<div class="value">Управление миром</div>
		</div>
		<div class="content-line">
			<div class="key">Должность:</div>
			<div class="value">Глава отдела</div>
		</div>
		<div class="content-separator"></div>
	</div>

	<div class="item-title"><i class="ri-nurse-fill"></i><span class="item-name">Результаты проф. осмотра</span></div>

	<div class="item-content">
		<div class="content-line">
			<div class="key">Зрение:</div>
			<div class="value"><ProgressBar value="1" /></div>
		</div>
		<div class="content-line">
			<div class="key">Слух:</div>
			<div class="value"><ProgressBar value="5" /></div>
		</div>
		<div class="content-line">
			<div class="key">Вкус:</div>
			<div class="value"><ProgressBar value="10" /></div>
		</div>
		<div class="content-line">
			<div class="key">Обоняние:</div>
			<div class="value"><ProgressBar value="15" /></div>
		</div>
		<div class="content-line">
			<div class="key">Осязание:</div>
			<div class="value"><ProgressBar value="25" /></div>
		</div>
		<div class="content-line">
			<div class="key">Равновесие:</div>
			<div class="value"><ProgressBar value="50" /></div>
		</div>
		<div class="content-line">
			<div class="key">Психика:</div>
			<div class="value"><ProgressBar value="75" /></div>
		</div>
		<div class="content-separator"></div>
	</div>

	<div class="item-title"><i class="ri-body-scan-fill"></i><span class="item-name">Потребности</span></div>

	<div class="item-content">
		<div class="content-line">
			<div class="key">Питание</div>
			<div class="value"><ProgressBar value="100" /></div>
		</div>
		<div class="content-line">
			<div class="key">Бодрость</div>
			<div class="value"><ProgressBar value="75" /></div>
		</div>
		<div class="content-line">
			<div class="key">Общение</div>
			<div class="value"><ProgressBar value="50" /></div>
		</div>
		<div class="content-line">
			<div class="key">Гигиена</div>
			<div class="value"><ProgressBar value="25" /></div>
		</div>
		<div class="content-line">
			<div class="key">Досуг</div>
			<div class="value"><ProgressBar value="15" /></div>
		</div>
		<div class="content-line">
			<div class="key">Комфорт</div>
			<div class="value"><ProgressBar value="10" /></div>
		</div>
		<div class="content-line">
			<div class="key">Усталость</div>
			<div class="value"><ProgressBar value="5" /></div>
		</div>
		<div class="content-line">
			<div class="key">Естественная нужда</div>
			<div class="value"><ProgressBar value="1" /></div>
		</div>
		<div class="content-separator"></div>
	</div>

	<div class="item-title"><i class="ri-t-shirt-2-fill"></i><span class="item-name">Одежда</span></div>

	<div class="item-content">
		<div class="content-line">
			<div class="key">Голова</div>
			<div class="value">Шапочка из фольги</div>
		</div>
		<div class="content-line">
			<div class="key">Лицо</div>
			<div class="value">Очки без дужки</div>
		</div>
		<div class="content-line">
			<div class="key">Левая рука</div>
			<div class="value">Ничего</div>
		</div>
		<div class="content-line">
			<div class="key">Правая рука</div>
			<div class="value">Ничего</div>
		</div>
		<div class="content-line">
			<div class="key">Торс</div>
			<div class="value">Халат поварихи</div>
		</div>
		<div class="content-line">
			<div class="key">Ноги</div>
			<div class="value">Спортивки</div>
		</div>
		<div class="content-line">
			<div class="key">Ступни</div>
			<div class="value">Вьетнамки</div>
		</div>
		<div class="content-separator"></div>
	</div>

	<div class="item-title"><i class="ri-briefcase-4-fill"></i><span class="item-name">Предметы</span></div>

	<div class="item-content">
		<div class="content-line">
			<div class="key">Карандашь</div>
			<div class="value"><ProgressBar value="3" /></div>
		</div>
		<div class="content-line">
			<div class="key">Скрепка</div>
			<div class="value"><ProgressBar value="7" /></div>
		</div>
		<div class="content-line">
			<div class="key">Жвачка из под стола</div>
			<div class="value"><ProgressBar value="1" /></div>
		</div>
		<div class="content-line">
			<div class="key">Чек из столовой</div>
			<div class="value"><ProgressBar value="85" /></div>
		</div>
	</div>
</div>
</template>

<style scoped>
.grid-item .item-content .content-separator {
	margin: 5px 0px;
	border-bottom: 1px solid #222831;
}
.grid-item .item-content .content-line {
	display: flex;
	align-items: center;
	justify-content: space-between;
	line-height: 18px
}
.grid-item .item-content .content-line .value {
	color: #ffd369;
}
</style>
