<script setup>
</script>

<template>
	<footer class="footer">
		<p><span style="font-size: 24px;">⚶</span><br>Gnupet Research Lab<br>2022</p>
	</footer>
</template>

<style scoped>
.footer {
	background-color: #FFD369;
	color: #222831;
	padding: 5px;
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 0px;
}

@media (max-width:1100px) {
	.footer {
		padding: 2px;
        border-radius: 0px;
		border: none;
	}
}
</style>
