<script setup>
import { reactive } from 'vue'

const state = reactive({ mobileMenu: false })

function toggleMobileNavigation() {
    state.mobileMenu = !state.mobileMenu;
}
</script>

<template>
    <div class="header">
        <a class="logo" href="index.html">⚶ Gnupet Research Lab</a>
        <div @click="toggleMobileNavigation" class="mobileMenu">☰</div>
        <div class="buttons" :class="{ show: state.mobileMenu }">
            <a class="button" href="index.html">Главная</a>
            <a class="button" href="game.html">Игра</a>
        </div>
    </div>
</template>

<style scoped>
.header {
    background-color: #FFD369;
    color: #222831;
    padding: 10px 10px 10px 10px;
    border-radius: 0px 0px 4px 4px;
    border-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    color: #222831;
    text-transform: uppercase;
    font-size: 22px;
    margin-right: 10px;
}

.button {
    border: none;
    color: #222831;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 10px;
}

.mobileMenu {
    display: none;
}

@media (max-width:1100px) {
    .logo {
        font-size: 18px;
    }

    .header {
        border-radius: 0px;
        border: none;
        display: block;
    }

    .mobileMenu {
        display: block;
        float: right;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .buttons.show {
        display: flex;
    }

    .button {
        padding: 10px 0px;
    }
}
</style>
