<script setup>
import TopNavigation from "./components/TopNavigation.vue";
import Content from "./components/home/Content.vue";
import Footer from "./components/Footer.vue";
</script>

<template>
	<div class="offset"></div>
	<div class="container">
		<TopNavigation />
		<Content />
		<Footer />
	</div>
	<div class="offset"></div>
</template>

<style scoped>
.offset {
	width: 15%;
	display: inline-block;
}

.container {
	width: 70%;
	display: inline-block;
}

@media (max-width:1400px) {
	.offset {
		width: 2%;
	}

	.container {
		width: 96%;
	}
}

@media (max-width:1100px) {
	.offset {
		width: 0%;
	}

	.container {
		width: 100%;
	}
}
</style>
