<script setup>
</script>

<template>
<div class="tabs">
    <div class="tab selected"><i class="ri-file-list-2-fill icon"></i>Журнал</div>
    <div class="tab"><i class="ri-file-user-fill icon"></i>Дневник</div>
    <div class="tab"><i class="ri-file-unknow-fill icon"></i>Задания</div>
</div>
<div class="tab-content">
    <div v-for="n in 10" :key="n" class="tab-content-item">
        <div style="color: #ffd369;">2022.04.01 23:00:12</div>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</div>
    </div>

    <div class="loadMore"><i class="ri-eye-2-line icon"></i><i class="ri-eye-2-line icon"></i><span>Загрузить еще</span></div>
</div>
</template>

<style scoped>
.icon {
    margin-right: 5px;
}
.tabs {

}
.tab {
    background-color: #393e46;
    border: 1px solid #222831;
    border-bottom: none;
    margin-left: 5px;
    padding: 10px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}
.tab.selected {
    color: #ffd369;
    background-color: #222831;
}
.tab-content {
    border: 1px solid #222831;
    background-color: #222831;
    padding: 10px;
    font-size: 12px;
}
.tab-content .tab-content-item {
    margin: 0px 0px 10px 0px;
}
.tab-content .loadMore {
    text-transform: uppercase;
    color: #ffd369;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #ffd369;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab-content .loadMore .icon {
    animation:spin 0.5s linear infinite;
}
@keyframes spin { 
    100% { 
        transform:rotate(360deg); 
    } 
}
</style>
