<script setup>
import { defineProps } from 'vue'

const props = defineProps({
    value: {
        type: Number,
        required: true,
    },
    width: {
        type: String,
        default: "100px"
    },
    right: {
        type: Boolean,
        default: true
    }
});
</script>

<template>
<div class="container" :style="'width: ' + props.width + ';'">
    <div class="progress">
        <div class="filler" :class="{ right: props.right }" :style="'width: ' + props.value + '%;'"></div>
    </div>
    <div class="value">{{props.value}}%</div>
</div>
</template>

<style scoped>
.progress {
    outline: 1px solid #222831;
    background: #222831;
    height: 8px;
    display: inline-block;
    width: calc(100% - 25px);
}

.progress .filler {
    background-color: #ffd369;
    height: 100%;
}

.progress .filler.right {
    float: right;
}

.value {
    color: #ffd369;
    font-size: 10px;
    display: inline-block;
    width: 25px;
    text-align: right;
}
</style>
